[submodule "vendor/milsko"]
	path = vendor/milsko
	url = https://github.com/pyrite-dev/milsko.git
[submodule "vendor/TeglaMixer"]
	path = vendor/TeglaMixer
	url = https://github.com/TeglaGroup/mixer.gits
[submodule "vendor/raknet"]
	path = vendor/raknet
	url = https://github.com/Hedy88/raknet.git